*{margin: 0; padding: 0;}
a{text-decoration: none; color: black;}
li{list-style: none;}

ul{
    width: 900px;
    display: flex;
    flex-wrap: wrap;
}

ul li{
    height: 50px;
    margin: 0 auto;
    border: 1px solid black;
}

ul li:nth-of-type(1){
    width: 898px;
    background-color: blue;
}

ul li:nth-of-type(2){
    width: 298px;
    background-color: red;
}

ul li:nth-of-type(3){
    width: 298px;
    background-color: skyblue;
}

ul li:nth-of-type(4){
    width: 298px;
    background-color: green;
}

ul li:nth-of-type(5){
    width: 448px;
    background-color: purple;
}

ul li:nth-of-type(6){
    width: 448px;
    background-color: yellow;
}
